* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #fff;
  align-items: center;
  display: block;
  font-size: 4.5rem;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  overflow: hidden;
  background-image: url("./puprle-background.jpg");
  background-size: 100% 100%;
}

.wrapper {
  display: flex;
  width: 70%;
  height: 70%;
  justify-content: space-around;
}

.card {
  width: 30%;
  height: 100%;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.7);
  transition: 0.5s ease-in-out;
  opacity: 0.8;
  overflow: hidden;
  z-index: 1;
}

.card:hover {
  transform: translateY(20px);
  opacity: 1;
  background: linear-gradient(
    to bottom,
    rgba(233, 37, 200, 1),
    rgba(233, 37, 200, 1)
  );
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(233, 37, 200, 0.9),
    rgba(233, 37, 200, 0.2)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 1;
}

.card:hover::before {
  opacity: 1;
}

p {
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  margin-top: 8px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
  top: 0;
  left: 0;
}

.info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 1;
  transform: translateY(30px);
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.info h1 {
  font-size: 2rem;
  color: #fff;
  align-items: center;
}

.card:hover .info {
  transform: translateY(30px);
}

.card .info h1 {
  margin: 0;
}

.info p {
  letter-spacing: 0.5px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  align-items: center;
}

/* .hide {
  display: block;

  margin: auto;
  color: #000;
  font-size: 3rem;
  z-index: 2;
} */

.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  display: none;
}

.card:hover .btn {
  display: block;
  width: fit-content;
}

.card .info .btn:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  h1 {
    font-size: 4rem;
    align-items: center;
  }
  .info h1 {
    font-size: 1.5rem;
    align-items: center;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 3.5rem;
    align-items: center;
  }
  .info h1 {
    font-size: 1.2rem;
    align-items: center;
  }
}
@media (max-width: 750px), (max-height: 750px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    justify-content: space-between;
  }

  .card {
    width: 100%;
    height: 33%;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-between; */
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.7);
    /* transition: 0.5s ease-in-out; */
    opacity: 1;
    overflow: hidden;
    z-index: 1;
  }

  h1 {
    font-family: "Russo One", sans-serif;
    color: #fff;
    align-items: center;
    display: block;
    font-size: 1.8rem;
  }
  .info {
    /* top: 0%;
    left: 0%; */
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 1;
    transform: translateY(0px);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  p {
    letter-spacing: 0.3px;
    font-size: 0.6rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }

  .card .info h1 {
    margin: 0;
    top: 0%;
  }

  .card:hover .info {
    transform: translateY(0px);
  }

  .card:hover {
    transform: translateY(0px);
  }

  .btn {
    text-decoration: none;
    padding: 0.4rem 1rem;
    background: #fff;
    color: #000;
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: fit-content;
  }
  .info p {
    letter-spacing: 0.3px;
    font-size: 0.4rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
}
